<div class="contendor">
    <div class="logo">
        <img src="/assets/Images/Logo1.png" alt="">
    </div>

    <!-- <div class="login" style="z-index: 10;">
        <div class="tarjeta">
            <form action="">
                <div class="titulo">
                    <h1 style="color: var(--blue);">LOGIN</h1>
                </div>
                <div class="">
                    <p-floatLabel>
                        <input pInputText id="username" name="username" [(ngModel)]="value" />
                        <label for="username">Username</label>
                    </p-floatLabel>
                </div>

                <div class="">
                    <p-floatLabel>
                        <input pInputText id="username" name="username" [(ngModel)]="value" />
                        <label for="username">Username</label>
                    </p-floatLabel>
                </div>
                
                <div class="boton">
                    <button type="submit">Iniciar Sesión</button>
                </div>
            </form>
        </div>
    </div> -->

    <div class="circle" style="z-index: 1;">
        <div class="circle1">
            <!-- <img src="Assets/Images/Ellipse2.svg" alt=""> -->
        </div>
        <div class="circle2">
        </div>
    </div>

    <div class="tarjeta">
        <form action="" class="formulario">

            <div class="titulo">
                <h1>LOGIN</h1>
            </div>



            <div class="campos">

                <div class="input">
                    <label for="username">Usuario</label>

                    <input pInputText type="email" id="username" name="username" aria-describedby="username-help"
                        [(ngModel)]="value" />

                    <!-- <small id="username-help">
                        Enter your username to reset your password.
                    </small> -->
                </div>
                <br>
                <div class="input">
                    <label for="username">Contraseña</label>
                    <input pInputText type="password" id="password" name="password" aria-describedby="username-help"
                        [(ngModel)]="value" />
                </div>
            </div>

            <div class="button">
                <p-button label="Search" icon="pi pi-check" [loading]="_loadingButton" (onClick)="load()" />
            </div>

        </form>
    </div>




</div>